* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{margin: auto;}

/*debug*/








.debug .finale-bottom {
    background-color: rgb(37, 35, 35);
}

.debug .foot-bottom {
    background-color: greenyellow;
}

.logo-footer,
.bottone-footer {
    border: dashed 1px black;
}



/*generali*/

.bottone {
    background-color: white;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.flex-c {
    justify-content: center;
    align-items: center;
    display: flex;
}

.max-width {
    max-width: 1170px;
}

.grigio {
    background-color: lightgrey;
}

/*start header*/
header {
    height: 400px;
    background-color: #255EE9;
}

.head-top {
    height: 15%;
    justify-content: center;
    align-items: center;

}

.tasti li {
    display: inline;
}

.tasti a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 0px 7px;

}

.head-bottom {
    background-image: url("/img/jumbo.png");
    background-size: cover;
    height: 90%;

}

.header-nav {
    width: 70%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.tasti {
    height: 100%;
}

.logo {
    justify-content: flex-start;
    align-items: center;

}

.login {
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.link {
    padding-right: 40px;

}

.head {
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

header h1 {
    color: white;

}

header p {
    color: white;
    padding: 20px;
}

.nero {
    background-color: #23272A;
    color: white;
}

/*start main*/
section {
    padding-top: 100px;
}

.contenuto {
    width: 60%;
    height: 80%;
    justify-content: flex-start;
    align-items: flex-start;
}

.imgpiccole {
    width: 413px;
    height: 268px;
}

section p {
    line-height: 1.6em;
    color: black;
    font-size: 14px;
    margin: 20px 0px;
}


section h1 {
    color: black;
    font-size: 33px;
    padding-top: 20px;

}

.content-sinistra {
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.content-destra .figurauno {
    background-image: url(/img/item1.svg);
}

.content-destra {
    background-size: cover;
    width: 60%;
    height: 100%;
}


.content-grande {
    width: 70%;
    height: calc(100% - 80px);
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.content-grande p {
    width: 87%
}

.content-grande h3 {
    background-image: url(/img/stars.svg);
    background-size: auto;
    padding: 20px;
}

.bottone.blu {
    background-color: #7289DA;
    color: white;
}



/*start footer*/
.finale-top {
    padding: 20px;  background-color: #23272A;
}

.foot-top {
    margin: auto;
    width: 70%;
    height: 80%;
    display: flex;

}

.finale-bottom {
    height: 100px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
  
}

.foot-bottom {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 18%;
    padding-top: 0px;
}

.uno {
    width: 28%;
    color: white;
}

.logo-footer,
.bottone-footer {
    width: 60px;
    height: 50px;
}

.col h2 {
    color: #7289DA;
    margin-bottom: 20px;
}

.col.uno span {
    font-size: 11px;
    padding: 3px;
}

.bandiera {
    width: 20px;
    height: 15px;
}

.icone {
    color: white;
    padding-top: 10px;
}

.icone i {
    margin-right: 8px;
}

ul li:first-child{
    font-weight: bold;
    color: #7289DA;
}

.col li{
    list-style: none;
    color: white;
    padding: 10px 30px 10px 0px;
}